#loginbox {
	width: 40%;
	padding: 10px;
	border: 5px solid gray;
	margin: 0;
	position: relative;
	margin: 0 auto;
	background: rgba(130, 130, 130, .3);
	padding: 20px 22px;
	border: 1px solid;
	border-top-color: rgba(255, 255, 255, .4);
	border-left-color: rgba(255, 255, 255, .4);
	border-bottom-color: rgba(60, 60, 60, .4);
	border-right-color: rgba(60, 60, 60, .4);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
		border-radius: 2px; 
}

.index_form {
	margin-top: 10%;
	transition-duration: 0.4s;
}

.button {
	background-color: #450cf2;
	border: none;
	color: white;
	padding: 10px 10%;
	width: 300px;
	display: inline-block;
	font-size: 26px;
	margin: 14px 2px;
	cursor: pointer;
	border-radius: 5px;
	font-family: inherit;
	transition-duration: 0.4s;
	font-weight: bold;
}
.button:HOVER{
transition-duration: 0.4s;
background-color: #3c4545;

box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}
.msg {
	color: red;	
	font-size: 25px;
	}

.testfield{
	width: 300px;
	padding: 10px 10px;	
	display: inline-block;
	border:none;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 16px;

}
